<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" rel="stylesheet" />
    <link href="http://cdn.syncfusion.com/24.2.3/js/web/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WalletWatchWebApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.syncfusion.com/ej2/20.1.55/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
    <partial name="_SideBar" />

    <div class="main-content">
        <div class="container mt-3 mt-md-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-11 col-md-10 col-lg-12">
                    <main role="main" class="pb-3">
                        
                        @if (ViewData["isDashboard"] == null)
                        {
                            <div class="row">
                                <div class="col-12 col-md-7 col-lg-6">
                                    <div class="mb-3 mb-md-5">
                                        <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                        <ejs-breadcrumb id="breadcrumb"
                                                        separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                                    </div>
                                </div>
                            </div>
                        }
                        <div style="margin-bottom:15px">
                            
                            @if (ViewData["PageActionText"] != null)
                            {
                                <a asp-controller="@ViewData["PageActionController"]" asp-action="@ViewData["PageAction"]" class="btn btn-login">@ViewData["PageActionText"]</a>
                            }
                        </div>
                        <partial name="_StatusMessage" />
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
